/*****************************************************************************/
/* Site Header
/*****************************************************************************/

.page-header {
  background: url(../images/noise.png) repeat;
  width: 100%;
  height: 220px;
  border-top: 5px solid $tertiarycolor;
  transition: background min-height height z-index 300ms ease-in-out;
}

a.brand {color: transparent;}

.brand {
  display: block;
  padding: 1em 0 0.3em 0;
  a {
    text-decoration: none;
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  h1 {
    font-size: 1.6em;
    color: $tertiarycolor;
    border-bottom: none;
    padding: 0;
    margin: 0.4em 0 0 0;
    line-height: 1em;
    height: 40px;
    text-align: center;
  }

  .logo {
    background: transparent url(../images/mikowl-dark.png) no-repeat;
    background-size:100% auto;
    padding: 0;
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    opacity: 0.95;
    transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 1;
      }
  }
}

/*****************************************************************************/
/* Navigation
/*****************************************************************************/

a.navicon {
  position:absolute;
  right: 20px;
  top: 15px;
  display: block;
  text-decoration: none;
  line-height: 0.5em;
  padding: 8px;
  font-size: 2em;
  color: lighten($primarycolor, 15%);
  z-index: 999;
}

#menu {
  position: absolute;
  top: -56px;
  left: -1%;
  overflow: hidden;
  max-height: 0;
  background: rgba(125, 88, 156, 0.9);
  width: 101%;
  padding: 140px 0 100px 0;
  transform: rotate(9deg) translateY(-115%);
  transition: all 0.4s ease-in-out;
  z-index: 900;
  &.active {
    transform: rotate(-3deg) translateY(0);
  }
  ul {
    margin: 0;
    padding: 8px;
    text-align: center;
    transform: rotate(3deg);
  }
  li {
    display: inline;
    color: #FFF;
    text-align: center;
    list-style-type: none;
    font-size: 2em;
    margin: 0 17px;
    text-transform: uppercase;
    font-weight: 300;
    &:last-child {
      margin-bottom:0;
    }
    a {
      position: relative;
      transition: all 300ms ease-in-out;
      color: #a2d7ff;
      text-decoration: none;
      &:hover{
        color:lighten($primarycolor, 20%);
      }
      &:before {
        position: absolute;
        color: #f0f1ae;
        font-size: 1.2em;
        left: 38%;
        bottom: 39px;
      }
    }
  }
  .archives:before {
    font-size: 1.2em;
  }
  .twitter:before {
    font-size: 1em;
  }
  .contact:before {
    font-size: 0.8em;
  }
}
